{% extends "base.html" %}

{% block title %}ユーザーページ{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="container">
  <form id="feed_url" name="setting">
    <input type="text" name="site_name" value="サイト名など">
    <input type="text" name="url" value="URL">
    <input type="button" name="add" value="追加" onclick="add_list()">
  </form>
  <table id="site-list">
    <tr>
      <th>サイト一覧</th>
    </tr>
    <tr>
      <td>yahoo</td>
    </tr>
  </table>
</div>
<script charset="utf-8">
function add_list(){
  var table = document.getElementById('site-list');
  var row = table.insertRow(-1);
  var site_name = document.setting.site_name.value;
  var url = document.setting.url.value;
  var textNode = document.createTextNode(site_name);
  row.appendChild(textNode);
}

function add_tag(){

}
</script>
{% endblock content %}
