{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block extrahead %}
<style>
body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin{
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.for_register{
    margin-top: 5px;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    {% if error == "1" %}
    <div class="alert alert-danger"><div class="text-center">ユーザー名またはパスワードに誤りがあります</div></div>
    {% elif error == "2" %}
    <div class="alert alert-danger">このユーザー名は無効です</div>
    {% endif %}
    <form class="form-signin" method="post" action="{% url 'user_manager:login' %}">{% csrf_token %}
        <h2 class="form-signin-heading">ログイン</h2>
        <label for="user_id" class="sr-only">User Name</label>
        <input type="text" name="user_id" id="user_id" class="form-control" placeholder="User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="submit" value="login"/>
        <p class="for_register"><a href="{% url 'user_manager:register' %}">ユーザー登録されていない方はこちら</a></p>
    </form>
</div> <!-- /container -->

{% endblock content %}